<?xml version='1.0' encoding='utf-8'?>
<plugin id="ibm-mfp-core" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MFPCore</name>
    <js-module name="MFPCore" src="www/MFPCore.js">
        <clobbers target="MFPCore"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MFPCore">
                <param name="android-package" value="com.ibm.mobilefirstplatform.clientsdk.cordovaplugins.core.MFPCore"/>
            </feature>

        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/MFPCore.java" target-dir="src/ibm-mfp-core/MFPCore"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MFPCore">
                <param name="ios-package" value="MFPCore"/>
            </feature>
        </config-file>
        <source-file src="src/ios/MFPCore.m"/>
    </platform>
</plugin>